*{
  box-sizing: border-box;
}
body{
 margin: 0px;
 padding: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(8, 126, 180);
   font-family: sans-serif;
   padding-top: 10px;
}
.signIn-container{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   background-color: white;
   padding: 20px 20px;
   border-radius: 12px;
   min-height: 350px;
   box-shadow: 2px 2px 10px;
}
.signIn-container h2{
   padding: 10px 0px;
}
.labels{
   font-weight: bold;
   font-size: 14px;
   margin: 10px 0px 6px 0px;
}
.signIn-container input {
   padding: 8px;
   outline: none;
   min-width: 270px;
   border: 1px solid rgb(173, 173, 173);
   border-radius: 5px;
   margin: 5px 0px;
}
.signIn{
   margin-top: 20px;
   background-color:rgb(8, 126, 180) ;
   color: white;
   outline: none;
   border: none;
   border-radius: 8px;
   width: 70px;
   height: 32px;
   font-weight: 500;
   width: 100%;
   text-transform: capitalize;
   cursor: pointer;
}
.signIn:hover{
   background-color: white;
   color:rgb(8, 126, 180);
   border:1px solid  rgb(8, 126, 180);
}
.signInText{
   color: rgb(8, 126, 180);
}
.logo-container{
   width: 100%;
   padding: 20px 0px;
}
.logo{
text-align: center;
background-color:rgb(8, 126, 180) ;
color: white;
border-radius: 12px;
padding: 7px 0px;
}
/* CSS for Chat BOx */
.chat-container{
   box-shadow: 2px 2px 10px;
}
.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: rgb(8, 126, 180);
   padding: 5px;
}
.header img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 2px solid white;
}
.header h2{
   color: white;
   font-weight: 600;
   font-size: 18px;
   margin-left: 12px;
}
.chat-content{
   min-height: 450px;
   max-height: 450px;
   background-color: rgb(10, 73, 88);
   padding: 8px;
   max-width: 295px;
   overflow-y: scroll;
}
.chat-content::-webkit-scrollbar {
   display: none;
 }
.send-container{
   display: flex;
}
.send-container input{
 padding: 13px 10px;
   outline: none;
   min-width: 240px;
}
.send-container button{
width: 47px;
   background-color: rgb(8, 126, 180);
   outline: none;
   border: none;
   color: white;
   cursor: pointer;
}
.message-sent{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin: 29px 0px;
   position: relative;
}
.message-sent p {
   background-color: rgb(8, 126, 180);
   color: white;
   padding: 7px 7px;
   border-radius: 10px 10px 0px 10px;
   font-size: 13px;
   position: relative;
}
.message-sent span {
 position: absolute;
   font-size: 13px;
   /* top: 32px; */
   bottom: -19px;
   right: 2px;
   color: #f9f9f9e6;
}
.message-receieve{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin: 29px 0px;
   position: relative;
}
.message-receieve p {
   background-color: white;
   color: black;
   padding: 7px 7px;
   border-radius: 10px 10px 10px 0px;
   font-size: 13px;
   position: relative;
}
.message-receieve span {
 position: absolute;
   font-size: 13px;
   bottom: -19px;
   left: 2px;
   color: #f9f9f9e6;
}
.loggedOut{
   width: 67px;
   height: 28px;
   outline: none;
   border: none;
   border-radius: 12px;
   font-weight: 700;
   background-color: white;
   color: black;
   cursor: pointer;
}
.NoChat{
 text-align: center;
 background-color: #ffffff5e;
 padding: 11px;
 font-family: sans-serif;
 color: black;
 font-weight: 500;
}
.userInfo{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.signIn-container{
 margin-top: 60px;
}
.reactions-sent{
 position: absolute;
 top: -38px;
 display: flex;
 background-color: rgba(128, 128, 128, 0.521);
 align-items: center;
 justify-content: space-between;
 padding: 5px;
 border-radius: 25px;
 right: 0px;
}
.reactions-receieve{
 position: absolute;
 top: -38px;
 display: flex;
 background-color: rgba(128, 128, 128, 0.521);
 align-items: center;
 justify-content: space-between;
 padding: 2px 5px;
 border-radius: 25px;
}
.reactions-sent li,.reactions-receieve li{
 list-style: none;
 margin: 0px;
 font-size: 17px;
 padding: 5px;
}
.activatedEnoji{
 background-color: rgb(3, 41, 53);
 border-radius: 50%;
}
.message-sent .reacted-emoji{
 position: absolute;
 padding: 5px;
 background-color: #033948;
 border-radius: 50%;
}
.message-receieve .reacted-emoji{
 position: absolute;
 padding: 5px;
 background-color: #033948;
 border-radius: 50%;
 right: 2px;
}
.message-container{
 position: relative;
}
.Date-Bubble{
   text-align: center;
   padding: 6px 15px;
   border-radius: 22px;
   font-weight: 600;
   font-size: 13px;
   font-family: unset;
   width: -moz-fit-content;
   width: fit-content;
   margin: auto;
   background-color: rgb(3 37 52);
   color: white;
   border: 2px solid;
}


/* media query */
@media (max-width:768px) {
 body{
   padding-top: 0px;
 }
 .chat-container{
   width: 100vw;
   height: 100vh;
 }
 .chat-content{
   min-width: 100% !important;
   min-height: 85.7%;
 }
 .send-container input{
   width: 87%;
 }
 .message-sent{
margin:  0px;
 }
 .message-sent span {
   bottom: -5px;
   font-size: 11px;
 }
 .message-receieve{
   margin:  0px;
 }
 .message-receieve span{
   bottom: -5px;
   font-size: 11px;
 }
 .message-sent p{
   font-size: 15px;
   position: relative;
   padding: 10px;
 }
 .message-receieve p{
   font-size: 15px;
   position: relative;
   padding: 10px;
 }
 .signIn-container{
   margin-top: 60px;
 }
 .reactions-sent{
   position: absolute;
   top: -38px;
   display: flex;
   background-color: rgba(128, 128, 128, 0.521);
   align-items: center;
   justify-content: space-between;
   padding: 5px;
   border-radius: 25px;
   right: 0px;
 }
 .reactions-receieve{
   position: absolute;
   top: -38px;
   display: flex;
   background-color: rgba(128, 128, 128, 0.521);
   align-items: center;
   justify-content: space-between;
   padding: 2px 5px;
   border-radius: 25px;
 }
 .reactions-sent li,.reactions-receieve li{
   list-style: none;
   margin: 0px;
   font-size: 17px;
   padding: 5px;
 }
 .activatedEnoji{
   background-color: rgb(3, 41, 53);
   border-radius: 50%;
 }
 .message-sent .reacted-emoji{
   position: absolute;
   padding: 5px;
   background-color: #033948;
   border-radius: 50%;
   left: 2px;
 }
 .message-receieve .reacted-emoji{
   position: absolute;
   padding: 5px;
   background-color: #033948;
   border-radius: 50%;
   right: 2px;
 }
 .message-container{
   position: relative;
 }
}